run = "npm install && npm run dev"
hidden = [".config", "package-lock.json"]

[nix]
channel = "stable-22_11"

[languages.typescript]
pattern = "**/{*.ts,*.js,*.tsx,*.jsx}"
syntax = "typescript"

[languages.typescript.languageServer]
start = "typescript-language-server --stdio"

[env]
NODE_VERSION = "18.17.0"

[deployment]
build = ["sh", "-c", "npm install && npm run build"]
run = ["sh", "-c", "npm run start"]
